@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Oxanium:wght@200..800&family=Sora:wght@100..800&display=swap');



main {
    background-color: transparent;
    width: 90vw;
    margin: auto;
    position: relative;
    z-index: 0;
}

h3 {
    font-family: var(--titulosSecundarios);
    margin-left: 0px;
    padding: 80px 46px 25px 30px;
}

h4 {
    font: 300 1em var(--titulosSecundarios);
    color: white;
}

h5 {
    font-family: var(--titulosSecundarios);
}

#meusProjetos {
    padding-top: 105px;
}

#sobreMim h4 {
    margin-left: 0px;
    padding: 25px 46px 10px 46px;
    text-align: center;
    width: calc(100% - 92px);
}

#meusProjetos {
    height: 950px;
}

.projetosCategoria {
    border: 1px solid var(--corBorda);
    border-radius: 0px 0px 15px 0px;
    margin: 15px 0px;
    transition: .5s;
}

.projetosCategoria h4 {
    margin: 15px auto;
    text-align: center;
}

.apresentacaoProjetos {    
    padding: 15px;
    border-radius: 15px 0px;
    height: 376px;
    transition: .5s;
    position: relative;
    z-index: 1;
}

.apresentacaoProjetos::before {
    content:"";
    position:absolute;

    inset:0;

    padding: 3px;

    background:linear-gradient(56deg, var(--destaques), #cafcff, var(--destaques));

    border-radius: 15px 0px;

    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);

    -webkit-mask-composite: xor;

     z-index:-1;
}

.apresentacaoProjetos:hover {
    box-shadow:
        0 0 5px var(--destaques),
        0 0 10px var(--destaques),
        inset 0 0 5px var(--destaques),
        inset 0 0 10px var(--destaques);


}

.apresentacaoProjetos em {
    color: #818181;
}


.infoProjeo {
    margin-bottom: 50px;
    height: 168px;
    text-shadow: 2px 3px 4px #0000003d;
}

#meusProjetos h5 {
    margin: 0px 0px 10px 0px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--corBorda);
}

#meusProjetos h5 strong {
    color: white;
}

.acessos {
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    gap: 15px;
}

.acessoProjeto {
    color: var(--secundario-claro);
    text-decoration: none;
    font-size: .8em;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    cursor: pointer;
    text-shadow: 2px 3px 4px #00000042;
}

.acessoProjeto:hover {
    color: #8ab7e9cf;
    text-shadow:  3px 4px 5px #00000026;
}

.acessoProjeto span {
    font-size: 1.4em;
    margin-top: -2px;
}

.logosLinguagens {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

}

.logosLinguagens i {
    color: var(--destaques);
    font-size: 1.5em;
    margin: 0px 2px;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.26);
}

.logosLinguagens i:hover {
    transform: scale(1.3);
    transition: .5s;
    text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.178);
}

.apresentacaoProjetos img {
    position: absolute;
    bottom: 63px;
    right: 16px;
    width: 157px;
    border: 1px solid var(--corBorda);
    border-radius: 5px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.164);
    z-index: -1;
}

.apresentacaoProjetos img:hover {
    transform: scale(1.4);
    text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.178);
}

/* .QRcode {
    background-color: white;
} */

/* #seções {
    align-self: stretch;
    margin: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 20px 0px;
}

button.areas {
    background-color: transparent;
    color: var(--secundario);
    border: 2px solid var(--secundario);
    border-radius: 20px;
    margin: 0px 10px;
    padding: 8px 5px;
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.411);
    transition: 1.0s;
    width: 113px;
}

button.areas strong {
    position: relative;
    z-index: 2;
    border-radius: 20px;
}

button.areas:hover {
    color: white;
    background-color: var(--secundario);
    transition: .5s;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.411);
    cursor: pointer;
}

button.active {
    color: white;
    background-color: var(--secundario);
    transition: .5s;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.411);
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 872px;
}

#sites, #sistemas {
    display: none;
} */

#sobreMim {
    height: auto;
    margin-top: 80px;
}

#sobreMim h3 {
    padding-left: 29px;
    padding-bottom: 0px;
    margin-bottom: -10px;
}

#sobreTexto {
    margin: 5px 30px 60px 48px;
    columns: 1;
}

#sobreTexto a {
    color: var(--destaques);
    text-decoration: none;
}

#sobreTexto a:hover {
    text-decoration: underline;
}

#mim {
    margin: 30px;
    margin-top: 5px;
    columns: 1;
}

#sobreHabilidades {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 40px;
}

.detalhesDeMim {
    width: 442px;
    margin: auto;
}

#habilidades {
    background-color: var(--discreto);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 20px;
    padding: 10px;
    border-radius: 25px;
}

img.linguagens {
    margin: 4px;
}

#containerCv {
    background-color: var(--discreto);
    display: flex;
    flex-flow: column wrap;
    margin: 20px;
    margin-bottom: 0px;
    padding: 10px;
    border-radius: 25px;
}

#containerCv p {
    text-align: center;
}

.linksCurriculos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 45px 0px 10px 0px;
}

.linksCurriculos a {
    color: var(--destaques);
    text-shadow: 8px 6px 5px #00000044;
    text-decoration: none;
}

.linksCurriculos a:hover {
    transform: scale(1.1);
    transition: .5s;
    text-shadow: 10px 8px 6px #0000002a;
}

#comoAjudar {
    background-color: transparent;
    height: auto;
    margin: auto;
    padding-bottom: 1px;
}

#melhorTexto01 {
    display: none;
}

#melhorTexto02 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

button.textos02 {
    background-color: var(--secundario);
    padding: 5px;
    margin: 15px auto;
    color: white;
    border:2px solid var(--secundario);
    border-radius: 25px;
    transition: .4s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.329);
    
}

button.textos02:hover {
    background-color: var(--pricipal);
    color: white;
    border:2px solid var(--secundario);
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.158);
}

button.textos02.clicado {
    background-color: var(--pricipal);
    color: white;
    border:2px solid var(--secundario);
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.158);
    filter: none;
}

button.textos02 strong {
    color: white;
    font-family: 'sora', Arial, Helvetica, sans-serif;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.411));
}

p.ajudar {
    display: none;
    background-color: rgba(255, 255, 255, 0.452);
    color: black;
    width: 260px;
    height: 260px;
    margin: 50px auto;
    text-align: center;
    padding: 25px;
    border-radius: 0px 20px 20px 20px;
    box-shadow: inset 7px 9px 16px rgba(0, 0, 0, 0.418);
    position: relative;
    animation: fadeUp 0.5s ease;
}


@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


i.fecharTextos {
    color: white;
    position: absolute;
    top: -24px;
    left: 0px;
    cursor: pointer;
}

@media screen and (min-width: 800px) {
    main {  
        width: 95vw;
    }

    h3 {
        padding-left: 90px;
        font-size: 1.4em;
    }

    h4 {
        font-size: 1.2em;
    }

    p, li {
       font-size: 1.2em;
       font-weight: 300;
    }

    #meusProjetos {
        background-color: transparent;
        padding-top: 20px;
        height: auto;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    #meusProjetos h3 {
        width: 100%;
        padding-bottom: 0px;
    }

    .projetosCategoria {
        width: 366px;
        display: inline-flex;
        flex-flow: row wrap;
    }

    .projetosCategoria h4 {
        width: 100%;
    }

    .apresentacaoProjetos {
        max-width: 336px;
        height: 426px;
    }

    .infoProjeo {
        height: 215px;
    }

    .acessoProjeto {
        font-size: .9em;
    }

    .apresentacaoProjetos img {
        display: none;
    }
    /* #seções {
        align-self: stretch;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin: 20px 0px ;
        padding: 0px;
        
    }

    button.areas {
        background-color: transparent;
        color: var(--secundario);
        border: 2px solid var(--secundario);
        border-radius: 20px;
        padding: 7px 155px;
        margin-bottom: 25px;
        transform: skewY(-3deg);
        box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.411);
        transition: 1.0s;
        width: auto;
    }

    button.areas strong {
        color: white;
        position: relative;
        z-index: 2;
        border-radius: 20px;
    }

    button.areas:hover {
        color: white;
        background-color: var(--secundario);
        transition: .5s;
        transform: skewY(0deg);
        box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.411);
        border-radius: 20px;
    }

    button.areas::before {
        background-color: var(--secundario);
        border-radius: 20px;
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 0px;
        height: 100%;
        transition: width 1.0s  ease;
        z-index: 1;
    }

    button.areas:hover::before {
        width: 100%;
        color: var(--discreto);
        border-radius: 20px;
    }

    button.areas.active {
        color: white;
        background-color: var(--secundario);
        transition: .5s;
        transform: skewY(0deg);
        box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.411);
        border-radius: 20px;
    } */

    #sobreTexto {
        margin: 5px 108px 30px 108px;
        columns: 2;
    }

    #sobreTexto li {
        margin: 0px 10px
    }

    #mim {
        margin: 5px 90px 30px 90px;
    }

    #sobreHabilidades {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-top: 40px;
    }

    .linguagens:hover {
        transform: scale(1.1);
        transition: .3s;
    }

    #comoAjudar {
        height: auto;
        /* margin-bottom: 20px; */
    }

    #melhorTexto01 {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    button.textos01 {
        font-family: 'sora', Arial, Helvetica, sans-serif;
        background-color: transparent;
        color: var(--secundario);
        border: 2px solid var(--secundario);
        transform: skewY(-3deg);
        box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.411);
        transition: 1.0s;
        width: 285px;
        height: 40px;
        margin: 50px;
    }

    button.textos01 strong {
        color: white;
        position: relative;
        z-index: 2;
    }

    button.textos01:hover {
        color: white;
        background-color: var(--secundario);
        transition: .5s;
        transform: skewY(0deg);
        box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.411);
        
    }

    button.textos01::before {
        background-color: var(--secundario);
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 0px;
        height: 100%;
        transition: width 1.0s  ease;
        z-index: 1;
        box-shadow: 0px 0px 5px var(--secundario), 
                    0px 0px 25px var(--secundario),
                    0px 0px 50px var(--secundario),
                    0px 0px 200px var(--secundario);
    }

    button.textos01:hover::before {
        width: 100%;
        color: var(--discreto);
    }

    button.textos02 {
        display: none;
    }

    #melhorTexto02 {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        
    }

    button.textos02:hover {
        background-color: var(--pricipal);
        color: white;
        border:2px solid var(--secundario);
        box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.158);
        filter: none;
    }

    button.textos02.clicado {
        background-color: var(--pricipal);
        color: white;
        border:2px solid var(--secundario);
        box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.158);
        filter: none;
    }

    button.textos02 strong {
        font-family: 'sora', Arial, Helvetica, sans-serif;
        filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.411));
    }

    p.ajudar {
        width: 600px;
        height: 120px;
    }



    @media (min-width: 1175px) {
        main {
            width: 85vw;
        }

        #mim {
            columns: 2;
        }

        .linguagens {
            height: 64px;
        }
    }
}

