@charset "UTF-8";

@media screen and (max-width: 930px)  {

    :root {
        --pricipal: #002f6d;
        --secundario: #4d88e0; 
        --destaques: #3cced3;
        --discreto: #838383fd;
    }

    html, body {
        background-color: #83838349;
    }

    header {
        background-color: var(--pricipal);
        width: 400px;
        margin: auto;
    }

    menu#vertical {
        display: none;
    }

    header h1 {
        font-size: 2em;
        text-align: center;
        width: 316px;
        padding: 42px 42px 0px 42px;
    }

    p#resumo {
        text-align: justify;
        margin: auto;
        margin-top: 108px;
        padding: 42px;
    }

    img#eu {
        display: none;
    }

    main {
        background-color: var(--pricipal);
        width: 400px;
        margin: auto;
    }

    h2, h3 {
        margin: 0px;
        padding: 25px;
    }

    main#meusProjetos {
        height: 600px;
    }

    button.areas {
        padding: 10px 40px;
        margin: 0px 10px;
        transform: skewY(0deg);
    }

    button.areas:hover {
        pointer-events: none;
    }

    div#pai {
        
    }

    div.projetos {
        width: 325px;
    }

    div#pai2 {
        display: none;
    }

    main#sobreMim {
        height: 1080px;
    }
    
    p#mim {
        margin: 25px;
        columns: 1;
    }


    main#comoAjudar {
        height: auto;
    }

    button.textos01 {
        display: none;
    }

    button.textos02 {
        display: block;
        margin: 15px auto;
    }

    p.ajudar {
        margin: 25px;
        height: auto;
    }
}