:root {
    /* --pricipal: #002f6d; */
    --pricipal: #031630;
    /* --secundario: #4d88e0;  */
    --secundario: #1c3e70;
    --destaques: #3cced3;
    --discreto: #838383fd;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'arvo', sans-serif;
}

html, body {
    background-color: var(--pricipal);
    color: white;
}

div#pai {
    width: 325px;
    margin: auto;
}

div.projetos {
    background-color: var(--discreto);
    width: 325px;
    height: 85px;
    padding-top: 80px;
    margin: 38px auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    scale: calc(1);
    border: 2px solid var(--secundario);
    border-radius: 10px;
}

.projetos:hover {
    scale: calc(1.1);
    transition: .5s;
}

.projetos img {
    width: 25px;
    margin-bottom: 5px;
    margin-left: 5px;
}

p.nomeProjeto {
    color: white;
    text-decoration: none;
    margin: -30px 40px 0px 5px;
}

main {
    margin: 25px 10px;
}

h1 {
    font-size: 1.5em;
    margin-left: 0px;
    padding: 0px 40px 15px 22px;
}

p{
    font-family: 'arvo', 'Times New Roman', Times, serif;
    margin: 0px 20px;
}

strong {
    color: var(--destaques);
}

#Piscicologa {
    background: var(--discreto) url(../../imagens/piscologa.jpg) center top fixed;
    background-size: cover;
}

#evaModas {
    background: var(--discreto) url(../../imagens/evas_modas.jpg) center top fixed;
    background-size: cover;
}

#barbearia {
    background: var(--discreto) url(../../imagens/barbearia.jpg) center top fixed;
    background-size: cover;
}