:root {
    /* --pricipal: #002f6d; */
    --pricipal: #031630;
    /* --secundario: #4d88e0;  */
    --secundario: #1c3e70;
    --destaques: #3cced3;
    --discreto: #838383fd;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'arvo', sans-serif;
}

html, body {
    background-color: var(--pricipal);
    color: white;
}

div#pai {
    width: 325px;
    margin: auto;
    padding:  10px;
}


div.projetos {
    background-color: var(--discreto);
    width: 325px;
    height: 85px;
    padding-top: 80px;
    margin: 2px auto 0px auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 2px;
    scale: calc(1);
    border: 2px solid var(--secundario);
    border-bottom-width: 1px;
    border-radius: 10px 10px 0px 0px;
    position: relative;
    overflow: hidden;
}

.projetos::before {
    content: "";
    position: absolute;
    inset: 0; /* top right bottom left = 0 */
    background: rgba(0, 0, 0, 0.26); /* cor do overlay */
    opacity: 0;
    transition: opacity .3s ease;
    opacity: 1;
    z-index: 1;
}

.projetos:hover {
    border-color: var(--destaques);
    transition: .5s;
}

.imagens {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

.projetos:hover::before {
    opacity: 1;
}

.projetos img {
    width: 25px;
    margin-bottom: 5px;
    margin-left: 5px;
    z-index: 2;
}

p.nomeProjeto {
    color: white;
    text-decoration: none;
    margin: -30px 40px 0px 5px;
}

main {
    margin: 25px 10px;
}

h1 {
    font-size: 1.5em;
    margin-left: 0px;
    padding: 0px 40px 15px 22px;
}

p{
    font-family: 'arvo', 'Times New Roman', Times, serif;
    margin: 0px 20px;
}

strong {
    color: var(--destaques);
}

#Piscicologa {
    background: var(--discreto) url(../../imagens/piscologa.jpg) center top fixed;
    background-size: cover;
}

#evaModas {
    background: var(--discreto) url(../../imagens/evas_modas.jpg) center top fixed;
    background-size: cover;
}

#barbearia {
    background: var(--discreto) url(../../imagens/barbearia.jpg) center top fixed;
    background-size: cover;
}

#estoque {
    background: var(--discreto) url(../../imagens/sistema-estoque.png) center top fixed;
    background-size: cover;
}

a {
    text-decoration: none;
}

.codigo {
    background-color: var(--discreto);
    color: white; 
    text-align: center;
    width: 325px;
    margin-bottom: 50px;
    padding: 15px 0px;
    border-radius: 0px 0px 10px 10px;
    border: 2px solid var(--secundario);
    border-top-width: 1px;
    cursor: pointer;
}

.codigo:hover {
    border-color: var(--destaques);
    transition: .5s;
}