div#pai {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 20px auto;
}


div.projetos {
    background-color: var(--discreto);
    margin: 15px;
    margin-bottom: 0px;
    border: 3px solid var(--secundario);
    border-bottom-width: 1.5px;
    width: 400px;
    height: 20px;
    transform: skewY(-6deg);
}

p.nomeProjeto {
    margin: 15px 20px -10px 17px;
    transform: skewY(-6deg);
}

main {
    margin: 66px;
    margin-top: 20px;
}

.codigo {
    width: 400px;
    height: 20px;
    border: 3px solid var(--secundario);
    border-top-width: 1.5px;
    transform: skewY(-6deg);
    margin-bottom: 15px;
}

